* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.button, .btn:hover{
    cursor: pointer;
}
header {
    float: left;
    padding-left: 10px;
    margin-left: 10px;
}

a {
    text-decoration: none;
}

aside {
    float: right;
    padding-right: 10px;
    margin-right: 10px;
}

body { 
    background-color:aquamarine;
}

h1, h2, p {
    text-align: center;
}

h2 {
    margin-bottom: 50px;
    margin-top: 50px;
}

.paragraph { 
    text-align: center;
    margin: 20px, 50px;
    color:#00008b;
}

.lineBreak{
    white-space: pre;
}

.hidden {
    display: none;
}
.visible{
    display: block;
}

input {
    display: block;
    align: center;
    margin: auto;
    margin-top: 50px;
    background-color: #00008b52;
    width: 20%;
    height: 30px;
    border-radius: 20% / 600%;
}

#highscores {
    font-size: 50px;
    margin-bottom: 50px;
    color: #00008b;
    border: #00008b solid 5px;
    width: 50%;
    flex-direction: column;
    display: flex;
    margin: auto;
    padding: 20px;
}

.button{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: auto;
    margin-bottom: 10px;
    max-width: fit-content;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 50px;
    box-shadow: 5px 3px 2px 1px #00008b;
}


