* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.button, #btn:hover{
    cursor: pointer;
}
header {
    float: left;
    padding-left: 10px;
    margin-left: 10px;
}

a {
    text-decoration: none;
}

aside {
    float: right;
    padding-right: 10px;
    margin-right: 10px;
}

body { 
    background-color:aquamarine;
}

h1, h2, p {
    text-align: center;
}

.button {
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 10px;
    /* align-items: center; */
}

#btn {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 50px;
    box-shadow: 5px 3px 2px 1px #00008b;
}


